@charset "UTF-8";

/*Configuração global*/

*{ /*resetar a configuração padrão de margem e espaçamento*/
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
/*Configuração do pano de fundo no body sem repetição e com centralização usando o shorthand background. O atributo size (cover) permite a imagem ocupar toda a tela e o atributo attachment irá assegurar que não vai haver rolagem de tela*/
body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
/*Estabelecendo uma posição relativa do main para permitir o posicionamento absoluto da section dentro dela.*/
main{
    height: 100vh;
    position: relative;   
}
/*Posicionamento absoluto da imagem (frame do iphone) na section 'telefone' em relação ao main obtido através da combinação do uso dos atributos position relative e absolute e da função transform()*/
section#telefone{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;    
    background: url('../imagens/frame-iphone.png') no-repeat;
}
/*Posicionamento relativo da imagem 'home' e adequação do tamanho as configurações do 'section telefone' do arquivo index.html*/
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}
/*Configuração da section "redes sociais" para alinhamento e dar aos botões tamanho pequeno e formas arredondadas.*/
section#redes-sociais{
    text-align: right;
}
section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
}
/*Configuração da pseudo-classe :hover da section para dar a impressão de movimentar o botão utilizando os métodos transform e transition e configuração de bordas e sombra das bordas*/
section#redes-sociais img:hover{
    border: 3px solid rgba(255, 255, 255, 0.608);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.601);
    transition: transform 0.3s border 0.5s;
}